<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ice Cream Bytes</title>
  </head>
  <body>
    <nav>
      <img src="{{site.logoSrc}}" alt="{{site.logoAlt}}">
      <p>{{site.description}}</p>
      <ul id="social">
        {{#each site.social}}
          <li>
            <a href="{{href}}" target="_blank">
              <img src="{{iconSrc}}" alt="{{iconAlt}}">
            </a>
          </li>
        {{/each}}
      </ul>
    </nav>
    <ul id="gallery">
      {{#each flavors}}
        <li>
          <h2>{{name}}</h2>
        </li>
      {{/each}}
    </ul>
  </body>
</html>
